@model IEnumerable<QuizApplicationMVC.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>User's details updated successfully!!</h1>
<!--
<p>
    <a asp-action="Home" class="btn btn-primary">Back</a>
</p>
-->
